:root {
--color-bg-cream: rgb(252, 247, 244);      
--color-bg-white: rgb(255, 255, 255);       
--color-primary-blue: rgb(61, 85, 249);   
--color-shadow-lavender: rgb(246, 241, 249);    
--color-bg-soft-blue: rgb(240, 246, 251);   
--color-text-peach: rgb(240, 188, 163);
      
}